<mat-card class="predstava-form">
  <form (ngSubmit)="onSubmit()" #formRef="ngForm">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Ime</mat-label>
        <input matInput class="form-control" id="nazivPredstave" required [(ngModel)]="model.nazivPredstave"
               name="nazivPredstave">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea matInput required class="form-control" id="opis" [(ngModel)]="model.opis" name="opis"></textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Trajanje (min)</mat-label>
        <input matInput required type="number" class="form-control" id="trajanje" [(ngModel)]="model.trajanje" name="trajanje">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select matInput class="form-control" id="status" required [(ngModel)]="model.status" name="status">
          <mat-option *ngFor="let pow of statuses" [value]="pow">{{pow}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <hr>

    <div>
      <h3>
        <b>Izvođenja </b>
        <button mat-mini-fab type="button" color="primary" (click)="dodajIzvodjenje()">
          <mat-icon>add</mat-icon>
        </button>
      </h3>

      <div *ngIf="model.izvodjenja.length === 0">Trenutno nema izvođenja</div>

      <div *ngFor="let izvodjenje of model.izvodjenja; index as i">
        <mat-form-field appearance="fill">
          <mat-label>Datum</mat-label>
          <input matInput [matDatepicker]="pickerdate" [value]="izvodjenje._datum" (dateInput)="izvodjenje.datum = ($event.value || '').toString()">
          <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
          <mat-datepicker #pickerdate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Vreme</mat-label>
          <input matInput [ngxTimepicker]="pickertime" [format]="24" [value]="izvodjenje.vreme">
        </mat-form-field>
        <ngx-material-timepicker #pickertime [format]="24" (timeSet)="izvodjenje.vreme = $event"></ngx-material-timepicker>

        <mat-form-field appearance="fill">
          <mat-label>Sala</mat-label>
          <mat-select matInput class="form-control" required [(ngModel)]="izvodjenje.sala.brojSale" name="sala">
            <mat-option *ngFor="let sala of sale" [value]="sala.brojSale">{{sala.naziv}} ({{sala.brojMesta}} mesta)</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button type="button" color="warn" (click)="obrisiIzvodjenje(i)">Ukloni</button>
      </div>
    </div>

    <hr>

    <button mat-raised-button type="submit" color="primary" [disabled]="!formRef.form.valid">Sačuvaj</button>
  </form>
</mat-card>
