<mat-card class="predstava-wrapper">
  <mat-card-title>{{predstava.nazivPredstave}}</mat-card-title>
  <mat-card-subtitle>{{predstava.status}}</mat-card-subtitle>
  <mat-card-content>
    <p>Opis: {{predstava.opis}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="predstava.status === 'aktivna'" [routerLink]="['/predstava/', predstava.Id]" color="primary">Rezerviši</button>
    <ng-container *appIsAuth>
      <button mat-button *ngIf="predstava.status === 'u pripremi'" (click)="subscribeToNotifications()" color="accent">Obavesti me</button>
    </ng-container>
    <button mat-button [routerLink]="['/predstava/izmeni', predstava.Id]" *appIsAdmin>Izmeni</button>
  </mat-card-actions>
</mat-card>
