<nav>
  <mat-toolbar color="primary">
    <div class="nav">
      <span>Pozorište</span>

<!--      <a-->
<!--        class="nav-item"-->
<!--        [routerLinkActive]="['link-active']"-->
<!--        [routerLinkActiveOptions]="{ exact: true }"-->
<!--      >-->
<!--        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>-->
<!--      </a>-->
      <a class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/predstave']">Predstave</a>
      </a>
      <a class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/predstava/dodaj']" *appIsAdmin>Nova predstava</a>
      </a>
      <a class="nav-item" [routerLinkActive]="['link-active']" *ngIf="korpaService.brojRezervacija() > 0">
        <a class="nav-link text-dark" [routerLink]="['/korpa']" [matBadge]="korpaService.brojRezervacija()" matBadgeColor="warn">Korpa</a>
      </a>
    </div>

    <div class="auth">
      <a *ngIf="user" (click)="logout()">Prijavljeni kao {{user.Username}}</a>
      <a *ngIf="!user" [routerLink]="['/login']">Prijava</a>
    </div>
  </mat-toolbar>
</nav>
