<nav>
  <mat-toolbar color="primary">
    <span>Pozorište</span>

    <a
      class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
    </a>
    <a class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/predstave']">Predstave</a>
    </a>
    <a class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/predstava/dodaj']">Nova predstava</a>
    </a>
  </mat-toolbar>
</nav>
