nav {
  .nav-item {
    margin: 0 10px;
    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-weight: normal;
    }
  }

  .link-active a {
    text-decoration: underline;
  }

  .mat-toolbar {
    justify-content: space-between;
  }
}
