<mat-card class="register-form">
  <h2>Registracija</h2>
  <p>Registracijom kreirate nalog koji Vam omogućava da kupujete karte za predstave.</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Korisničko ime</mat-label>
      <input matInput type="text" formControlName="username" id="username" />
      <div *ngIf="submitted && f.username.errors" class="greska">
        <div *ngIf="f.username.errors.required">Korisničko ime je obavezno</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" id="email" />
      <div *ngIf="submitted && f.email.errors" class="greska">
        <div *ngIf="f.email.errors.required">Email je obavezan</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="password" id="password" />
      <div *ngIf="submitted && f.password.errors" class="greska">
        <div *ngIf="f.password.errors.required">Lozinka je obavezna</div>
        <div *ngIf="f.password.errors.minlength">Lozinka mora imati bar 6 karaktera</div>
      </div>
    </mat-form-field>

    <div>
      <p>Registracijom potvrđujete da se slažete sa <a href="/uslovi-koriscenja">Uslovima korišćenja</a>.</p>
      <button mat-raised-button [disabled]="loading" color="primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Registracija
      </button>
      <a mat-button color="warn" routerLink="/login">Nazad na prijavu</a>
    </div>

    <div class="greska" *ngIf="greska">{{greska}}</div>
  </form>
</mat-card>
